.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    background: #0D539E;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    margin: 0;
    color: #fff;

}

.footer img {
    max-width: 100%;
}

.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 20px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #fff;
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

.footer a {
    color: #fff
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.footer-bottom {
    background: #fff;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.payments {
    font-size: 1.5em;
}

.comment {
    margin-bottom: 45px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.author-name>h4 {
    margin: 5px 0px;
}

.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaaaaa;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.comment-title {
    margin-bottom: 45px;
    margin-top: 45px;
}

.comment-action {
    margin-bottom: 10px;
    width: 60px;
}

/*.card .box {*/
/*position: relative;*/
/*width: 100%;*/
/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*}*/

/*.card .image {*/
/*opacity: 1;*/
/*display: block;*/
/*width: 100%;*/
/*height: auto;*/
/*transition: .5s ease;*/
/*backface-visibility: hidden;*/
/*}*/

/*.card .unseen {*/
/*transition: .5s ease;*/
/*opacity: 0;*/
/*position: absolute;*/
/*text-align: center;*/
/*}*/

/*.card .box:hover .image {*/
/*opacity: 0.3;*/
/*}*/

/*.card .box:hover .unseen {*/
/*opacity: 1;*/
/*}*/

.title-shadow {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.carousel-box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-blue .navbar-brand {
    color: #fff;
}

.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #fff;
}

.navbar-blue .navbar-nav .nav-link {
    color: rgb(214, 214, 214);
}

.navbar-blue .navbar-nav .nav-link:hover,
.navbar-blue .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #0D539E;
}

.navbar-blue .navbar-nav .nav-link.disabled {
    color: rgba(19, 110, 229, 0.25);
}

.navbar-blue .navbar-nav .show>.nav-link,
.navbar-blue .navbar-nav .active>.nav-link,
.navbar-blue .navbar-nav .nav-link.show,
.navbar-blue .navbar-nav .nav-link.active {
    color: #fff;
    background-color: #0D539E;
}

.navbar-blue .navbar-toggler {
    color: rgba(19, 110, 229, 0.5);
    border-color: rgba(19, 110, 229, 0.1);
}

.navbar-blue .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-blue .navbar-text {
    color: rgba(19, 110, 229, 0.5);
}

.navbar-blue .navbar-text a {
    color: #fff;
}

.navbar-blue .navbar-text a:hover,
.navbar-blue .navbar-text a:focus {
    color: #fff;
}

.bg-blue {
    background-color: #0D539E !important;
}

a.bg-blue:hover,
a.bg-blue:focus,
button.bg-blue:hover,
button.bg-blue:focus {
    background-color: #1d2124 !important;
}

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-box {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formated-text,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #484c4f;
    font-family: 'Museo Sans Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sansserif !important;
    font-weight: 300 !important;
    font-style: normal !important;
}

/*.background{*/
/*background-color: #F8FCFF !important;*/
/*}*/

/*.background-anchor:hover{*/
/*background-color: #cae1ff !important;*/

/*}*/

.header-cover {
    border-radius: 10px;
    margin: 20px 0px !important;
    height: 300px;
    line-height: 300px;
    width: auto;
    /*background-color: #136EE5;*/
    background-image: linear-gradient(to right, #0D539E, #34a4ff);
    position: relative !important;
}

.header-cover h1 {
    letter-spacing: 5px;
    color: #ffffff;
    font-weight: 700 !important;
    /*font-family: "Arial Black", arial-black !important;*/
    /*font-family: "DejaVu Sans Mono" !important;*/
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
    font-size: 2.5rem;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 50px !important;
}


.header-cover img {
    position: absolute !important;
    height: 150px;
    width: auto;
    top: 25%;
    right: 70px;
    vertical-align: middle !important;
}

.btn-primary {
    color: #fff;
    background-color: #0D539E;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0d3367;
    border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .hidden-logo {
        display: none;
    }
    .header-cover{
        margin: 0px !important;
    }
    .header-cover h1.small-screen{
        text-align: center !important;
    }
}
